<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ScholarlyArticle",
  "headline": "{{ .Title }}",
  "author": [
    {{- $last := sub (len .Params.authors) 1 }}
    {{- range $i, $a := .Params.authors }}
    { "@type": "Person", "name": "{{ $a }}" }{{ if ne $i $last }},{{ end }}
    {{- end }}
  ],
  "datePublished": "{{ .Params.year }}",
  {{- with .Params.abstract }}
  "description": "{{ . | plainify | htmlUnescape | replaceRE `\"` `\\\"` }}",
  {{- end }}
  {{- with .Params.journal }}
  "isPartOf": {
    "@type": "Periodical",
    "name": "{{ . }}"
  },
  {{- end }}
  {{- with .Params.paper_url }}
  "url": "{{ . }}",
  {{- end }}
  "mainEntityOfPage": "{{ .Permalink }}"
}
</script>
